.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .btn-generate{
    background-color: var(--bank-color-green);
    color:#fff;
    width: 70%;
    height: 50%; 
    font-size: 1rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  } 
  .btn-scan{
    background-color: var(--bank-color-green);
    color:#fff;
    width: 70%;
    height: 50%; 
    font-size: 1rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  } 
  ion-row{
    height: 40vh;
  }

  .btn-qr-cancel{
    background-color: #f07c5d;
    color:#fff;
    width: 50%;
    margin: 5px;
  }
  .btn-qr{
    margin: 5px;
    background-color: var(--bank-color-green);
    color:#fff;
    width: 50%;
  }