<ion-header>
  <app-global-banner [title]="'Transferencias'" [backButton]="true" [logoutBtn]='true'></app-global-banner>
</ion-header>

<ion-content>
  

  <ng-container *ngIf="generateQR; else elseTemplate">
<ion-row class="ion-text-center ion-padding">
    <button class="ion-text-center" mat-raised-button (click)="changemode()" class="btn-generate" id="qrBtn">
      Generar QR
    </button>
  </ion-row>
  <ion-row class="ion-text-center ion-padding">
    <button mat-raised-button (click)="scanCode()" class="btn-scan" id="qrBtn">
      Leer QR
    </button>
  </ion-row>
  </ng-container>
  <ng-template #elseTemplate>
      <form [formGroup]="qrForm" class='ion-text-center ion-padding' (ngSubmit)="createCode()">
          <div class="ion-margin-bottom">
            <p class="ion-text-left">Cuenta de Origen</p>
            <mat-form-field>
              <mat-select formControlName="originAccount">
                <mat-option *ngFor="let type of accounts" [value]="type.number">{{type.number}}</mat-option>
              </mat-select>
              <mat-placeholder>Selecciona la cuenta de origen</mat-placeholder>
            </mat-form-field>
          </div>
          <div class="ion-margin-bottom">
            <p class="title ion-text-left">Tu QR tendra valor?</p>
            <mat-radio-group name="requestType" formControlName="open">
              <mat-radio-button class="example-margin" value="true">Si</mat-radio-button>
              <mat-radio-button class="example-margin" value="false" label="">No</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="ion-margin-bottom">
            <p class="title ion-text-left">Ingresa el valor de tu transferencia</p>
            <mat-form-field>
              <input matInput placeholder="Ingresa el valor de tu transferencia" type="tel" formControlName="value"
                BlockCopyPaste>
            </mat-form-field>
          </div>
          <div class="ion-margin-bottom">
            <p class="title ion-text-left">Ingresa la referencia</p>
            <mat-form-field>
              <input matInput placeholder="Que dienero te van a transferir?" type="text" formControlName="reference"
                BlockCopyPaste>
            </mat-form-field>
          </div>
          <button tappable mat-raised-button type="submit" [disabled]="!qrForm.valid" class="btn-qr" id="qrBtn">
            Generar QR
          </button>
          <button tappable mat-raised-button type="button" (click)="changemode()"  class="btn-qr-cancel " id="qrBtn ">
              Cancelar
            </button>
        </form>
  </ng-template>
</ion-content>