<ion-header>
  <app-global-banner [title]="'Clima'" [backButton]="true" [logoutBtn]='true'></app-global-banner>
</ion-header>


<ion-content class="ion-text-center" style="--background: var(--bank-color-blue);">

  <div>
    <h1 style="color: white;">Así está el clima en tu ciudad</h1>
  </div>

  <div class="weather">
    <div *ngIf="weather">
      <img src="http://openweathermap.org/img/wn/{{weather.icon}}.png" alt="">
      <h1>{{temp}}º</h1>
    </div>
    <div *ngIf="weather">
      <h1 class="ion-padding">{{position.name | titlecase}}</h1>
      <h2 class="ion-padding">{{weather.description | titlecase}}</h2>
      <h3 class="ion-padding">{{direction}}</h3>
    </div>
  </div>


</ion-content>