<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="offices">
      <ion-icon name="pin"></ion-icon>
      <ion-label>Oficinas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about-us">
      <ion-icon name="send"></ion-icon>
      <ion-label>Sobre nosotros</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
