<ion-header>
  <app-global-banner [title]="'Productos'" [backButton]="true" [logoutBtn]='true'></app-global-banner>
</ion-header>


<ion-content>
  <div class="ion-padding">
    <mat-accordion>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Cuentas de Ahorros
          </mat-panel-title>
          <mat-panel-description>
            Como estan tus ahorros
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="example-container mat-elevation-z8">
          <mat-table #table [dataSource]="dataSource" matSort>

            <!-- Position Column -->
            <ng-container [matColumnDef]="columns" *ngFor="let columns of displayedColumns, let i=index">
              <mat-header-cell (click)="logSort()" *matHeaderCellDef mat-sort-header> {{columns}} </mat-header-cell>
              <mat-cell *matCellDef="let element">{{element[infoTable[i]]}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row [ngClass]="{'positive' : row.goalPercent > 99, 
                      'negative' : row.goalPercent <= 50, 
                      'neutral':50 < row.goalPercent && row.goalPercent <= 90,
                      'almost' :90 < row.goalPercent && row.goalPercent <= 99}" (click)="highlight(row, 'savings')"
              *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
        </div>

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Cuentas Corrientes
          </mat-panel-title>
          <mat-panel-description>
            Como estan tus cuentas
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-table #table [dataSource]="dataSource2" matSort>

          <!-- Position Column -->
          <ng-container [matColumnDef]="columns" *ngFor="let columns of displayedColumns, let i=index">
            <mat-header-cell (click)="logSort()" *matHeaderCellDef mat-sort-header> {{columns}} </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element[infoTable[i]]}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row [ngClass]="{'positive' : row.goalPercent > 99, 
                    'negative' : row.goalPercent <= 50, 
                    'neutral':50 < row.goalPercent && row.goalPercent <= 90,
                    'almost' :90 < row.goalPercent && row.goalPercent <= 99}" (click)="highlight(row, 'accounts')"
            *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </mat-expansion-panel>
    </mat-accordion>
  
  </div>

  <div class=" ion-padding ion-text-center" >
      <button class="ion-padding" (click)="create()" mat-raised-button>Crear</button>
      <h4 *ngIf="!createForm">Tocando la cuentas estas se borran, directamente en la base de datos</h4>
    </div>
  <div  *ngIf="createForm">
    <form class="ion-padding" [formGroup]="accountsForm">
        <div class="ion-margin-bottom">
            <p class="title ion-text-left">A que coleccion se agregará?</p>
            <mat-radio-group name="requestType" formControlName="accountType">
              <mat-radio-button class="example-margin" value="savings">Ahorro </mat-radio-button>
              <mat-radio-button class="example-margin" value="accounts" label="">Corriente</mat-radio-button>
            </mat-radio-group>
          </div>
      <div class="ion-margin-bottom">
        <p class="title ion-text-left">Escribe el numero de cuenta</p>
        <mat-form-field>
          <input matInput placeholder="Ingresa el valor de tu transferencia" type="tel" formControlName="accountNumber"
            BlockCopyPaste>
        </mat-form-field>
      </div>
      <div class="ion-margin-bottom">
        <p class="title ion-text-left">El saldo que tendra la cuenta</p>
        <mat-form-field>
          <input matInput placeholder="Ingresa el valor de tu transferencia" type="tel" formControlName="value"
            BlockCopyPaste>
        </mat-form-field>
      </div>
      <div class="ion-margin-bottom">
        <p class="title ion-text-left">El nombre personalizado</p>
        <mat-form-field>
          <input matInput placeholder="Que dienero te van a transferir?" type="tel" formControlName="name"
            BlockCopyPaste>
        </mat-form-field>
      </div>
      <div class="ion-text-center">
        <button class="ion-padding" (click)="createAccount()" mat-raised-button>Confirmar</button>
        <button class="ion-padding" (click)="cancel()" mat-raised-button>Cancelar</button>
      </div>

    </form>
  </div>




</ion-content>