<ion-header>
    <app-global-banner [title]="messages.title" [backButton]="true"></app-global-banner>
</ion-header>

<ion-content>
    <div class="">
        <form class='ion-text-center ion-padding' [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <div class="ion-margin-top">
                <mat-form-field>
                    <input matInput placeholder="Ingresa tu correo" type="text" formControlName="email">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Ingresa tu Contraseña" [type]="hide ? 'text' : 'password'"
                        formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ?  'visibility': 'visibility_off'}}</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Confirma tu Contraseña" [type]="hide ? 'text' : 'password'"
                        formControlName="confirmPasword">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ?  'visibility': 'visibility_off'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <button tappable mat-raised-button type="submit" [disabled]="!registerForm.valid" class="btn-login"
                id="LoginBtnLogin">
                {{messages.btnLogin}}
            </button>
        </form>

    </div>



</ion-content>