

<ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="products">
        <ion-icon name="cash"></ion-icon>
        <ion-label>Productos</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="transactions">
        <ion-icon name="paper-plane"></ion-icon>
        <ion-label>Transferencias</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="weather">
        <ion-icon name="cloudy-night"></ion-icon>
        <ion-label>Clima</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
  