<ion-content>
  <div class="logo ion-padding">
      <img src="assets/images/bankIcon.png">
     <h1>ATOM BANK</h1>
     <h3>todo lo que necesitas</h3>
    </div>
    <div class="ion-padding"> 
      <p class="text-about-btn">{{messages.textRegister}}</p>
      <button 
        mat-button
        tappable
        id="homeBtnRegister"
        class="btn-home-register"
        (click)="register()">
        {{messages.textBtnRegister}}
      </button>
      <p class="text-about-btn">{{messages.textLogin}}</p>
      <button 
        mat-button
        tappable
        id="homeBtnLogin"
        class="btn-home-login"
        (click)="login()">
        {{messages.textBtnLogin}}
      </button>
<!-- <button 
        ion-button
        tappable
        id="homeBtnLogin"
        class="btn-home-login"
        (click)="test()">
        test
      </button> -->
    </div>
</ion-content>
