
h1 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 3rem;
    text-align: center;
    font-family: monospace;
    color: var(--bank-color-green);
}
h3 {
    margin-top: 0;
    // font-size: 3rem;
    text-align: center;
    font-family: monospace;
    color: var(--bank-color-darkblue);
}
img{
    width: 40%;
    max-width: 135px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

.text-about-btn{
    text-align: center;
    color: var(--bank-color-blue);
}
.btn-home-register{
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    background-color: var(--bank-color-green);
    color:#fff;
    width: 70%; 
    font-size: 1rem;
}

.btn-home-login{
position: relative;
left: 50%;
transform: translate(-50%,0);
background-color: var(--bank-color-darkblue);
color:#fff;
width: 70%;
font-size: 1rem;
}