<ion-header>
  <app-global-banner [title]="'Este es tu QR'" [backButton]="false" [logoutBtn]='false'></app-global-banner>
</ion-header>

<ion-content>
  <div class="ion-text-center ion-padding">
    <ngx-qrcode [qrc-value]='createdCode'></ngx-qrcode>
  </div>
  <div class="ion-text-center ion-padding">
    <span>Cuenta que recibirá la transferencia</span>
    <h4>{{data.originAccount}}</h4>
  </div>
  <div class="ion-text-center ion-padding">
    <span>Valor de la tranferencia</span>
    <h4 *ngIf="data.value!=''">{{data.value}}</h4>
    <h4 *ngIf="!data.value!=''">Sin Valor</h4>
  </div>
  <div *ngIf="data.reference!=''" class="ion-text-center ion-padding">
    <span>Referencia</span>
    <h4>{{data.reference}}</h4>
  </div>
  <div class="ion-text-center ion-padding">
    <button mat-raised-button class="btn-close" (click)="close()">Cerrar</button>
  </div>
</ion-content>