.btn-close{
    background-color: var(--bank-color-blue);
    color:#fff;
    width: 70%;
    height: 50%; 
    font-size: 1rem;
  } 
  .btn-do{
    background-color: var(--bank-color-green);
    color:#fff;
    width: 70%;
    height: 50%; 
    font-size: 1rem;
  } 