<ion-header>
  <app-global-banner [title]="'Confirma tu tranferencia'" [backButton]="true" [logoutBtn]='true'></app-global-banner>
</ion-header>
<ion-content>
  <form [formGroup]="qrTransferForm">
    <div class="ion-text-center ion-padding">
      <span>Cuenta que recibirá la transferencia</span>
      <h4>{{transferData.originAccount}}</h4>
    </div>
    <div class="ion-text-center ion-padding">
      <span>Valor de la tranferencia</span>
      <h4 *ngIf="data.value!=''">{{transferData.value}}</h4>
      <div *ngIf="!data.value!=''">
        <div class="ion-margin-bottom">
          <p class="title ion-text-left">Ingresa el valor de tu transferencia</p>
          <mat-form-field>
            <input matInput placeholder="Ingresa el valor de tu transferencia" type="tel" formControlName="value"
              BlockCopyPaste>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="ion-margin-bottom ion-padding">
      <p class="ion-text-left">Cuenta de Origen</p>
      <mat-form-field>
        <mat-select formControlName="account">
          <mat-option *ngFor="let type of accounts" [value]="type.number">{{type.number}}</mat-option>
        </mat-select>
        <mat-placeholder>Selecciona la cuenta de origen</mat-placeholder>

      </mat-form-field>
    </div>
    <div *ngIf="!data.reference!=''" class="ion-text-center ion-padding">
      <span>Referencia</span>
      <h4>{{transferData.reference}}</h4>
    </div>
    <div class="ion-text-center ion-padding">
      <h1>{{succesTitle}}</h1>
    </div>
    <div class="ion-text-center ion-padding">
      <button mat-raised-button class="btn-do" [disabled]="!qrTransferForm.valid" (click)="done()">Aceptar</button>
    </div>
    <div class="ion-text-center ion-padding">
      <button mat-raised-button class="btn-close" (click)="close()">Cerrar</button>
    </div>
  </form>



</ion-content>