<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="colorBmm">
        <ion-col size="1">
          <!-- <ion-back-button *ngIf="backButton !== false" text="" defaultHref="/tabs/home"></ion-back-button> -->
        </ion-col>
        <ion-col size="2">
          <img *ngIf="logo" src="assets/images/bannerBanco.png">

        </ion-col>
        <ion-col size="8" class="paddingfix">
          <p class="title">{{title}}</p>
        </ion-col>
        <ion-col size="1"  *ngIf="logoutBtn">
          <button mat-icon-button class="btnExit" id="BtnExit" (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </ion-col>

      </ion-row>
    </ion-grid>



  </ion-toolbar>
</ion-header>