toolbar-container{
    padding: 0;
}
 img {
    width: 100%;;
      max-width: 16em;
      position: relative;
  transform: translate(-50%, 0);
  left: 50%; 
    }
  
    ion-grid{
      padding: 0;
    }
  ion-toolbar {
    --padding-end:0;
    --padding-start:0;
  }
  .title {
      color: var( --bank-color-darkblue);
      background: white;
      padding: 1em 0;
      position: relative;
      font-family:monospace;
      font-weight: 600;
      white-space: normal;
      margin: 0 auto;
      font-size: 20px; 
      text-align: center;
  }  

  .colorBmm{
    color: var( --bank-color-darkblue);
      background: white;
  }
  ion-back-button{
    --color: var( --bank-color-darkblue);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .paddingfix{
padding-right: 45px;
  }
.btnExit{
    position: relative;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}