<ion-header>
    <app-global-banner [title]="'Nosotros'" [backButton]="false" [logoutBtn]='false'></app-global-banner>
</ion-header>

<ion-content>
<img src="assets/images/hv.png" alt="">
</ion-content>
